.fondo{
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.formularioAvisoNuevaContrasea{
  top: 140px;
  left: 40px;
  height: 436px;
  width: 420px;
  position: absolute;
  background-color: transparent
}

.aviso-nueva-cont{
  top: 220px;
  width: 392px;
  height: 80px;
  position: absolute;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.25;
  text-align: justify;
  color: #ffffff;
}

.bblLogo{
  top: 0px;
  left: 251px;
  position: absolute;
  width: 165px;
  height: 214.2px;

}

.volver{
  top: 367px;
  width: 65px;
  height: 20px;
  position: absolute;
  font-weight: lighter;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

.volver:hover{
  color: #ffffff;
}


