.plantillaEmail{
  width: 590px;
  height: 715px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  margin-left: 20px;
  margin-top: 20px;
  margin-left: 170px;
  margin-top: 65px;
}


.headerPlantilla{
  width: 590px;
  height: 111px;
  object-fit: contain;
  background: #5b539e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.bbllogo2 {
  width: 150px;
  height: 81px;
  margin-left: 220px;
  margin-top: 15px;
  float: left;
}

.Bienvenido{
  width: 194px;
  height: 32px;
  font-size: 32px;
  text-align: left;
  color: #302f60;
  margin-left: 52px;
  margin-top: 158px;
}

.Tu-registro-se-ha-ll{
  width: 449px;
  height: 130px;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.4px;
  text-align: left;
  color: #3d4548;
  margin-top: 46px;
  margin-left: 51px;
}

.btnReestablecer{
  width: 201px;
  height: 44px;
  border-radius: 100px;
  background-color: #302f60;
  margin-top: 84px;
  margin-left: 194px;
  outline: none;
  border: none;
}

.REESTABLECER{
  width: 172px;
  height: 16px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-left: 14px;
  margin-top: 10px;
}

.Gracias-por-registra{
  width: 333px;
  height: 20px;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #3d4548;
  margin-left: 129px;
  margin-top: 25px;
}

.Copyrigth-2017-Ban{
  width: 424px;
  height: 16px;
  font-size: 13px;
  text-align: right;
  color: #8f9ca1;
  margin-left: 236px;
  margin-top: 47px;
}

.Correo-bienvenida{
  width: 929px;
  height: 1024px;
  background-color: #fff;
  position: absolute;
}

body, html{
  overflow: auto;
}

*{
  margin: 0;
  padding: 0;
}
