@import url('https://fonts.googleapis.com/css?family=Roboto');



*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.fondo_login{
    background: url("../img/Back_login.jpg");
    background-size: cover;
}

.fondo_negro_log{
    position: absolute;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
}

.cont_log{
    position: fixed;
    left: 25%;
    top: 22.5%;
    width: 50%;
    height: 48%;
    background: white;
    box-shadow: 0 0 45px rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden;
}

.registro{
    text-align: center;
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    background: white;
    display: none;
}

.registro input[type="submit"]{
    margin-top: 80px !important;
}

.registro input[type="text"], .registro input[type="password"]{
    margin-top: 20px !important;
}

.fondo_log{
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.info_log{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    background: url("../img/loginBackBlur.jpg");
    background-size: 100% 100%;
    text-align: center;
    z-index: 1;
}

.info_log h1{
    color: white;
    margin-top: 70px;
    font-weight: bold;
    font-size: 28px;
}

.info_log p{
    margin-left: 10%;
    width: 80%;
    color: rgba(255,255,255,0.8);
    font-weight: 400;
    margin-top: 15px;
    font-size: 12px;
}

.info_log button{
    margin-top: 30px;
    width: 60%;
    height: 40px;
    border-radius: 5px;
    background: transparent;
    color: white;
    outline: none;
    border: 2px solid white;
    font-size: 14px;
    font-weight: 600;
}

.info_log button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.login{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

.login h1, .registro h1, .cont_completar h1{
    margin-top: 20px;
    font-size: 28px;
    color: rgba(0,0,0,0.9);
    font-weight: bold;
}

.login input[type="text"], .login input[type="password"], .registro input[type="text"], .registro input[type="password"]{
    position: relative;
    top: 10px;
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    color: rgba(0,0,0,0.4);
    transition: 0.5s;
}

.login input[type="text"]:focus, .login input[type="password"]:focus, .registro input[type="text"]:focus, .registro input[type="password"]:focus{
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

::-webkit-input-placeholder {
    color: rgba(0,0,0,0.4);
}

.login input[type="submit"], .registro input[type="submit"]{
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    margin-top: 45px;
    background: rgba(45,45,45,1);
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.login input[type="submit"]:hover, .registro input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.9;
}

.login h3{
    margin-top: 10px;
    font-size: 15px;
    color: rgba(0,0,0,0.4);
}

.login button{
    margin-top: 15px;
    float: left;
    width: 35%;
    margin-left: 10%;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.login button img{
    margin-left: 10%;
    float: left;
    width: 15%;
    margin-top: 2px;
    height: 25px;
}

.login button h2{
    width: 60%;
    margin-left: 5%;
    float: left;
    color: white;
    font-size: 14px;
    margin-top: 5px;
}

.login button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.login .face{
    background: rgba(68,97,176,1);
}

.login .google{
    background: rgba(240,1,0,1);
}

.cont_completar{
    position: fixed;
    top: 25%;
    left: 36%;
    width: 25%;
    height: 55%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 45px rgba(0,0,0,0.4);
    text-align: center;
}

.cont_completar input, .cont_completar select{
    position: relative;
    left: 10%;
    top: 25px;
    float: left;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height: 35px;
    color: rgba(0,0,0,0.4);
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    transition: 1s;
}

.cont_completar input:focus, .cont_completar select:focus{
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

.cont_completar select{
    position: relative;
    padding-left: 7%;
}

.cont_completar .small{
    width: 35%;
    margin-right: 10%;
}

.cont_completar .grande{
    width: 80%;
}

.cont_completar button, .footer_detalle_tarea button{
    margin-top: 50px;
    outline: none;
    width: 80%;
    height: 35px;
    color: white;
    border: none;
    background: rgba(45,45,45,1);
    border-radius: 5px;
    font-size: 14px;
}

.cont_completar button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.g-signin2{
  float: right !important;
  margin-right: 25% !important;
  margin-top: 5% !important;
  width: 25% !important;
  height: 10% !important;
}

.abcRioButtonContentWrapper{
  width: 80% !important;
  height: 80% !important;
  margin-left: 10%;
}

/************Principal**********/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    height: 70px;
    border-bottom: 1px solid rgba(155,155,155,0.2);
    box-shadow: 0 0 10px rgba(155,155,155,0.5);
    z-index: 1;
}

.left_header{
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
}

.left_header img{
    float: left;
    position: relative;
    margin-top: 5px;
    width: 12%;
    height: 80%;
    margin-left: 2%;
}

.left_header h1{
    position: relative;
    float: left;
    margin-top: 22px;
    margin-left: 2%;
    font-size: 20px;
}

.right_header{
    width: 30%;
    height: 100%;
    float: right;
    margin-right: 3%;
}

.right_header img{
    width: 4%;
    margin-right: 4%;
    float: right;
    margin-top: 30px;
}

.right_header #fotoPerfilM{
    margin-top: 10px;
    border-radius: 50%;
    width: 13%;
    height: 50px;
    margin-left: 6%;
}

.right_header #notif{
    position: absolute;
    left: 85.95%;
    top: 43%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: #3D9CC6;
    border: none;
}

.header .menu_desp{
    position: fixed;
    float: right;
    top: 13%;
    right: 2.5%;
    height: 15%;
    width: 20%;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 15px rgba(155,155,155,0.3);
    border: none;

}

.header .menu_desp .triangle{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 96%;
    top: 3%;
    box-sizing: border-box;
    border: 15px solid white;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 3px 3px 0 rgba(155,155,155,0.1);
    border-bottom: none:
}

.header .menu_desp ul{
    text-align: center;
    position: absolute;
    top: 15px;
    width: 100%;
    height: auto;
}

.header .menu_desp li{
    margin-top: 5px;
    height: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

.header .menu_desp li:hover{
    cursor: pointer;
}

#icon_des:hover{
    cursor: pointer;
}

#menu:hover{
    cursor: pointer;
}

.infor_perso{
    border-radius: 2.5px;
    position: relative;
    top: 100px;
    left: 15%;
    width: 12.5%;
    height: 160px;
    background: white;
    text-align: center;
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
}

.infor_perso img{
    margin-top: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.infor_perso h2{
    margin-top: 5px;
    font-size: 15px;
}

.infor_perso h1{
    font-size: 15px;
}

.infor_perso h5{
    font-size: 11px;
}

.menu_lateral{
    background: white;
    border-radius: 2.5px;
    position: relative;
    width: 12.5%;
    left: 15%;
    top: 110px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
}

.menu_lateral li:hover{
    cursor: pointer;
}

.menu_lateral li{
    list-style: none;
    height: 30px;
    border-bottom: 1px solid rgba(155,155,155,0.4);
}

.menu_lateral li img{
    margin-left: 10%;
    margin-top: 5px;
    width: 15%;
    height: 20px;
    float: left;
}

.menu_lateral li h1{
    margin-left: 5%;
    width: 70%;
    float: left;
    margin-top: 7px;
    font-size: 14px;
}

.contenido{
    position: absolute;
    background: white;
    top: 100px;
    right: 15%;
    width: 55%;
    border-radius: 2.5px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
    margin-bottom: 100px;
}

.contenido .titulo_cont{
    text-align: center;
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    height: 40px;
    border-bottom: 1px solid rgba(155,155,155,0.3);
}

.titulo_cont h1{
    position: relative;
    top: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    width: 20%;
    left: -2%;
}

.cont_interno{
    width: 100%;
    height: auto;
}

.ficha{
    position: relative;
    top: 30px;
    margin-left: 3.5%;
    margin-bottom: 60px;
    width: 28%;
    height: 220px;
    text-align: center;
    border-radius: 3px;
    float: left;
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
}
.ficha h1:hover{
    cursor: pointer;
}

.ficha h1{
    text-align: center;
    width: 100%;
    margin-top: 60px;
    color: rgba(0,0,0,1);
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
}
.ficha h2{
    font-size: 14px;
    margin-top: 10px;
}
.ficha .footer_ficha{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 30px;
}

.tareas:hover{
  cursor: pointer;
}

.ficha .footer_ficha .tareas{
    position: relative;
    height: 100%;
    width: 80%;
    margin-left: 5%;
    float: left;
}

.ficha .footer_ficha img{
    margin-top: 0px;
    z-index: 1;
    -webkit-filter: brightness(0%);
    width: 9%;
    height: 30px;
    float: left;
}

.ficha .footer_ficha .tareas h1{
    text-align: left;
    float: left;
    position: absolute;
    left: 12%;
    width: 80%;
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
    z-index: 1;
    color: rgba(0,0,0,0.6);
}

.salir_ico:hover{
    cursor: pointer;
}

.salir_ico{
    position: absolute;
    margin-left: 40%;
    width: 7% !important;
    top: 10px !important;
    -webkit-filter: invert(40%) !important;
}

.salir_ico:hover ~ .notif_salir{
    display: block;
}

.notif_salir{
    position: absolute;
    float: right;
    top: 40px;
    right: -15%;
    width: 65%;
    height: 35px;
    border-radius: 10px;
    background: rgba(0,0,0,1);
    display: none;
    z-index: 111;
}

.notif_salir h1{
    position: relative;
    top: -50px;
    font-size: 14px;
    color: white;
    font-weight: 400;
}

.notif_salir .triangle{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 76%;
    top: 3%;
    box-sizing: border-box;
    border: 8px solid black;
    border-color: transparent transparent black black;
    transform-origin: 0 0;
    transform: rotate(135deg);
    border-bottom: none:
}

/*********Princip0al***********/

.obs_not{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 11;
    display: none;
}

.notificacion{
    top: 150px;
    left: 40%;
    position: fixed;
    width: 25%;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 11;
    text-align: center;
    display: none;
}

.notif_sup{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.notif_sup h1{
    font-size: 16px;
    font-weight: bold;
    padding-top: 35px;
}

.notif_sup img:hover{
    cursor: pointer;
}

.notif_sup img{
    float: right;
    margin-top: 12px;
    margin-right: 12px;
    width: 5%;
}

.notif_cont{
    width: 100%;
}

.notif_cont img{
    position: relative;
    width: 100%;
    height: 250px;
}

.notif_cont h2{
    position: absolute;
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    z-index: 1;
    width: 100%;
    float: left;
    top: 220px;
}

.notif_cont h1{
    position: absolute;
    top: 120px;
    color: white;
    font-size: 24px;
    z-index: 1;
    width: 100%;
    float: left;
}

.notif_cont .obs_img_inscripcion{
    position: absolute;
    width: 100%;
    height: 250px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.notif_cont input{
    position: relative;
    top: 5px;
    width: 80%;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    transition: 0.5s;
}

.notif_cont textarea{
    resize: none;
    transition: 0.5s;
    position: relative;
    font-size: 14px;
    top: 20px;
    width: 78%;
    margin-bottom: 15px;
    height: 125px;
    padding-top: 2px;
    color: rgba(0,0,0,0.4);
    border: 1px solid rgba(0,0,0,0.2);
    padding-left: 2%;
}

.notif_cont textarea:focus{
    outline: none;
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.8);
}

.notif_cont input:focus{
     color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

.noti_footer{
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

.noti_footer button{
    border: none;
    outline: none;
    width: 50%;
    height: 35px;
    background: rgba(45,45,45,1);
    border-radius: 3px;
    color: white;
    font-size: 14px;
}

.noti_footer button:hover{
    cursor: pointer;
}

.noti_footer h4{
    font-size: 13px;
    font-weight: bold;
    margin-top: 8px;
}

.noti_footer h4{
    cursor: pointer;
}

/********** Tareas **/
.subtitle_cont{
    width: 100%;
    height: 40px;
    background: #D8D8D8;
    text-align: center;
}
.subtitle_cont img:hover{
    cursor: pointer;
}
.subtitle_cont img{
    position: relative;
    width: 2.5%;
    float: left;
    margin-top: 10px;
    transform: rotate(180deg);
    margin-left: 2%;
}
.subtitle_cont h3{
    padding-top: 8px;
    font-size: 18px;
    color: rgba(0,0,0,0.7);
}
.detalles_tarea{
    width: 100%;
    background: white;
}
.detalles_tarea h1{
    margin-top: 15px;
    font-size: 16px;
    margin-left: 2.5%;
    font-weight: bold;
}
.detalles_tarea h3{
    margin-top: 5px;
    margin-left: 2.5%;
    font-size: 14px;
}
.cont_tareas_archivos{
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 50px;
    float: left;
}
.tarea_archivo:hover{
    cursor: pointer;
    background: rgba(62,154,196,1);
}
.tarea_archivo{
    margin-left: 2.5%;
    margin-top: 10px;
    background: rgba(62,154,196,0.7);
    float: left;
    color: white;
    padding: 10px;
    border-radius: 3px;
}
.tarea_archivo h1{
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
}
.detalles_tarea h4{
    margin-top: 20px;
    margin-left: 2.5%;
    font-size: 14px;
}
.detalles_tarea h5{
    margin-top: 20px;
    margin-left: 2.5%;
    font-size: 14px;
}
.detalles_tarea p{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 20px;
    font-size: 14px;
    text-align: justify;
}
.tarea_archivo a{
    color: white;
    text-decoration: none;
}
.footer_detalle_tarea{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
}
.footer_detalle_tarea button{
    position: relative;
    left: 68%;
    width: 30%;
    margin-top: 15px;
    border-radius: 2.5px;
}
.footer_detalle_tarea button:hover{
    cursor: pointer;
}

/*** Grupos ***/
.info_group_sup{
    width: 100%;
}
.info_group_sup h1{
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 2.5%;
}
.info_group_sup p{
    text-align: justify;
    margin-top: 10px;
    width: 95%;
    margin-left: 2.5%;
    font-size: 14px;
    margin-bottom: 15px;
}
.maestros_contenido{
    top: 250px;
}
.inferior_menu{
    width: 100%;
    height: 50px;
}
.inferior_menu .ico_menu{
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    left: 20%;
}
.ico_menu img{
    width: 13%;
    height: 25px;
    margin-top: 15px;
    margin-left: 20%;
    float: left;
    -webkit-filter: brightness(0%);
}
.ico_activo{
    border-bottom: 2px solid rgba(10,164,201,1);
    color: rgba(10,164,201,1) !important;
}
.ico_activo>img{
    -webkit-filter: brightness(100%);
}
.ico_menu:hover{
    cursor: pointer;
    border-bottom: 2px solid rgba(10,164,201,1);
}
.ico_menu:hover h1{
    color: rgba(10,164,201,1);
}
.ico_menu:hover img{
    -webkit-filter: brightness(100%);
}
.ico_menu h1{
    float: left;
    font-size: 16px;
    margin-top: 18px;
    margin-left: 3%;
}
.inferior_agregar{
    width: 92.5%;
    margin-left: 4%;
    height: 60px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(155,155,155,0.3);
}
.inferior_agregar h1{
    font-size: 24px;
    float: left;
    font-weight: bold;
    margin-top: 15px;
}
.inferior_agregar div:hover{
    cursor: pointer;
    opacity: 0.8;
}
.inferior_agregar div{
    margin-top: 15px;
    width: 15%;
    float: right;
    height: 25px;
    background: rgba(219,219,219,1);
    border-radius: 5px;
}
.inferior_agregar div h3{
    padding-left: 10%;
    padding-top: 3px;
    font-size: 14px;
    height: 84%;
    width: 59%;
    margin-left: 30%;
    font-weight: bold;
    border-left: 1px solid rgba(155,155,155,1);
}
.inferior_agregar div img{
    margin-top: 6px;
    width: 13%;
    margin-left: 10%;
    float: left;
}
.contenido_miembros{
    width: 100%;
    margin-top: 25px;
}
.miembro{
    margin-bottom: 10px;
    margin-left: 5%;
    width: 42.5%;
    float: left;
    height: 80px;
    border: 1px solid rgba(155,155,155,0.3);
}
.miembro .del{
    position: relative;
    top: -45px;
    right: 2.5%;
    float: right;
    width: 4%;
}
.miembro .del:hover{
    cursor: pointer;
}
.miembro h1{
    float: left;
    margin-top: 10px;
    font-size: 18px;
}
.miembro h4{
    float: left;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    width: 64%;
}
.miembro h5{
    font-size: 12px;
    float: left;
    color: rgba(0,0,0,0.7);
}
.miembro .fotoPerfil{
    float: left;
    width: 30%;
    height: 100%;
    margin-right: 2.5%;
}
.notif_agregarAlumno h6{
    margin-top: 10px;
    background: rgba(206,206,206,0.3);
    width: 40%;
    border-radius: 2.5px;
    padding: 2.5%;
    margin-left: 30%;
    font-size: 14px;
    font-weight: bold;
}
.notif_agregarAlumno h4{
    margin-left: 5%;
    font-size: 14px;
    text-align: left;
    margin-top: 45px;
}
.notif_agregarAlumno h5{
    margin-left: 5%;
    width: 90%;
    font-size: 14px;
    text-align: left;
}
.notif_agregarAlumno{
    margin-bottom: 45px;
}
.notif_agregarAlumno .busqueda{
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    border: 1px solid rgba(155,155,155,0.6);
    height: 30px;
}
.notif_agregarAlumno .busqueda input{
    padding-left: 3%;
    border: none;
    outline: none;
    float: left;
    height: 100%;
    width: 85%;
}
.notif_agregarAlumno .busqueda img:hover{
    cursor: pointer;
}
.notif_agregarAlumno .busqueda img{
    margin-top: 5px;
    width: 6%;
    float: left;
    -webkit-filter: invert(50%);
    margin-left: 2.5%;
}
.opcion_del_grupo img:hover{
    cursor: pointer;
}
.opcion_del_grupo img{
    width: 2.25%;
}
.eliminar_grupo img{
    position: relative;
    width: 10%;
    margin-left: -5%;
    margin-right: 10%;
    transition: 0.5s;
    top: 2px;
}
.eliminar_grupo:hover img{
    -webkit-filter: brightness(0%) invert(100%);
}
.eliminar_grupo:hover{
    cursor: pointer;
    background: red !important;
    color: white !important;
}
.contenido_edit_grupo button:hover{
    cursor: pointer;
}
.contenido_edit_grupo button{
    width: 25%;
    height: 40px;
    outline: none;
    border: none;
    color: white;
    background: rgba(45,45,45,1);
    border-radius: 5px;
    font-size: 14px;
    margin-left: 42.5%;
}
.eliminar_grupo{
    margin-top: 25px;
    margin-left: 5% !important;
    margin-bottom: 30px;
    border: 1px solid red !important;
    background: white !important;
    color: red !important;
    transition: 0.5s;
}
.opcion_del_grupo input{
    background: transparent;
    padding-left: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(155,155,155,0.3);
}
.opcion_del_grupo textarea{
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    height: 150px;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    border: 1.3px solid rgba(155,155,155,0.6);
    color: rgba(0,0,0,0.7);
}
.opcion_del_grupo h3{
    font-size: 13px;
    margin-left: 5%;
}
.opcion_del_grupo{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.contenido_edit_grupo input{
    position: relative;
    float: left;
    width: 30%;
    margin-left: 1%;
    padding-left: 3%;
    color: rgba(0,0,0,0.7);
}
.contenido_edit_grupo h2{
    font-size: 13px;
    margin-left: 5%;
    float: left;
}
/***** Tareas ****/
.notificacion_tareas{
    top: 30px;
    left: 27.5%;
    position: fixed;
    width: 45%;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 11;
    text-align: center;
}
.notificacion_tareas input, .notificacion_tareas textarea{
    position: relative;
    width: 90%;
    height: 25px;
    outline: none;
    border: none;
    padding-left: 2%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: left;
    margin-top: 5px;
    font-size: 15px;
    color: rgba(0,0,0,0.4);
    transition: 0.5s;
}
.notificacion_tareas button{
    width: 30%;
}
.notificacion_tareas .notif_sup img{
    width: 2.5%;
}
.cuerpo_not_tarea h3{
    float: left;
    width: 95%;
    text-align: left;
    font-size: 13.5px;
    margin-top: 15px;
    margin-left: 5%;
}
.cont_archivos_tarea{
    float: left;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.archivo h4{
    float: left;
}
.archivo img:hover{
    cursor: pointer;
}
.archivo img{
    position: absolute;
    margin-top: 3px;
    float: left;
    width: 10px;
    margin-left: 10%;
    -webkit-filter: invert(1100%);
}
.archivo, .archivo_add{
    position: relative;
    font-size: 13px;
    float: left;
    padding: 10px;
    padding-right: 45px;
    border-radius: 3px;
    margin-left: 2%;
    font-weight: bold;
    background: rgba(155,155,155,0.2);
    transition: 0.5s;
    margin-top: 10px;
}
.archivo_add:hover{
    cursor: pointer;
}
.archivo_add{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 400;
    padding-right: 10px;
}
.cuerpo_not_tarea h2{
    float: left;
    font-size: 14px;
    margin-top: 25px;
    margin-left: 5%;
}
.notificacion_tareas textarea{
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    resize: none;
    padding-top: 5px;
    height: 180px;
}
.notificacion_tareas input[type="date"]{
    margin-left: 2%;
    margin-top: 15px;
    float: left;
    width: 26%
}
.opcion_conf h1{
    float: left;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 3%;
}
.opcion_conf input[type="checkbox"]:hover{
    cursor: pointer;
}
.opcion_conf input[type="checkbox"]:checked{
    background-color: rgba(155,155,155,0.6);
	color: red;
}
.opcion_conf input[type="checkbox"]:after{
    content: '\2714';
	font-size: 10px;
	position: absolute;
	top: -2px;
	left: 1px;
	color: white;
}
.opcion_conf input[type="text"]{
    margin-left: 5%;
    margin-top: -7px;
    float: left;
    width: 35%;
    z-index: 111;
    font-size: 12px;
}
.opcion_conf input[type="checkbox"]{
    z-index: 111111;
    float: left;
    -webkit-appearance: none;
    background-color: #white;
    border-bottom: 1px solid rgba(155,155,155,0.6) !important;
	border: 1px solid rgba(155,155,155,0.6);
	border-radius: 3px;
	position: relative;
    width: 12.5px;
    height: 12.5px;
}
.opciones_ide{
    width: 95%;
    margin-left: 2.5%;
    height: 200px;
}
.opcion_conf{
    margin-left: 5%;
    height: 20px;
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.notificacion_tareas textarea:focus{
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.8);
}
.notificacion_tareas input:focus{
    color: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.8);
}
.tareas_estado_contenedor button:hover{
    cursor: pointer;
}
.tareas_estado_contenedor .activo{
    color: rgba(10,164,201,1);
    background: rgba(10,164,201,0.1);
}
.tareas_estado_contenedor button{
    width: 15%;
    background: transparent;
    font-size: 14px;
    height: 100%;
    outline: none;
    border-radius: 2.8px;
    border: none;
}
.tareas_estado_contenedor{
    margin-top: 15px;
    text-align: center;
    height: 35px;
}
.tarea{
    padding-left: 2.5%;
    width: 92.5%;
    margin-left: 2.5%;
    height: 50px;
    border-bottom: 1px solid rgba(155,155,155,0.3);
    margin-bottom: 15px;
}
.tarea h1{
    font-size: 18px;
}
.tarea_fechas{
  margin-right: 3%;
}
.tarea_fechas, .tarea_recibidas, .tarea_faltantes{
    margin-top: 1.5px;
    width: 20%;
    height: 20px;
    float: left;
}
.tarea_faltantes:hover{
  cursor: pointer;
}

.tarea_faltantes{
    position: absolute;
    left: 30%;
}
.tarea_recibidas, .tarea_faltantes{
    width: 6%;
}
.tarea_fechas h2, .tarea_recibidas h2, .tarea_faltantes h2{
    float: left;
    font-size: 12px;
    margin-left: 3%;
}
.tarea_fechas img, .tarea_recibidas img, .tarea_faltantes img{
    float: left;
}
.notif_salir_tareas h1{
    position: relative;
    top: 5px;
    width: 100%;
    text-align: center;
    font-size: 10px;
}
.notif_salir_tareas{
    float: left;
    position: relative;
    top: 30px;
    left: -12%;
    width: 15%;
    height: 25px;
    background: #CF400F;
}
.notif_salir_tareas .triangle{
    margin-left: -20%;
    border: 6px solid #CF400F;
    border-color: transparent transparent #CF400F #CF400F;
}
.tarea_recibidas:hover{
    cursor: pointer;
}
.notif_salir_tareas_recibidas{
    display: none;
}
.notif_salir_tareas_nocalificadas{
    left: -8% !important;
    display: none;
}
.tarea_recibidas:hover + .notif_salir_tareas_recibidas{
    display: block !important;
}
.tarea_faltantes:hover + .notif_salir_tareas_nocalificadas{
    display: block !important;
}
.next_tareas:hover{
    -webkit-filter: invert(0%);
    cursor: pointer;
}
.next_tareas{
    position: absolute;
    width: 3%;
    margin-top: -10px;
    left: 92.5%;
    -webkit-filter: invert(70%);
    transition: 0.5s all;
}
.next_invert:hover{
    cursor: pointer;
    opacity: 0.5;
}
.next_invert{
    float: left;
    margin-right: 2%;
    margin-top: 20px;
    width: 2.8%;
    transform: rotate(180deg);
}
.infor_general_tarea h2, .entregas_tarea h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.infor_general_tarea h3{
    font-size: 14px;
    margin-bottom: 2.5px;
}
.infor_general_tarea p{
    text-align: justify;
    margin-top: 20px;
    font-size: 15px;
}
.infor_general_tarea{
    width: 90%;
    margin-left: 5%;
}
.entregas_tarea{
    margin-top: 25px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
}
.entregas_tarea h2{
    float: left;
}
.entregas_tarea img:hover{
    cursor: pointer;
}
.girar_flecha{
    transform: rotate(90deg) !important;
}
.entregas_tarea img{
    margin-top: 4px;
    width: 2.3%;
    transform: rotate(270deg);
    margin-left: 1%;
}
.entrega{
    position: relative;
    width: 95%;
    height: 50px;
    border-bottom: 1px solid rgba(155,155,155,0.3);
    margin-bottom: 5px;
    float: left;
    margin-left: 2.5%;
}
.entrega h3{
    margin-left: 0%;
    float: left;
    margin-top: 22px;
    font-weight: 400;
    font-size: 14px;
    margin-right: 4%;
}
.entrega h2{
    margin-top: 22px;
    font-weight: 400;
    font-size: 14px;
    margin-right: 3%;
    float: left;
}
.entrega img{
    position: absolute;
    width: 2.5%;
    margin-top: 20px;
    transform: rotate(0deg);
}
.entrega .entrega_perfilF{
    position: relative;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 5%;
    float: left;
    width: 4.6%;
    border-radius: 50%;
    height: 60%;
}
.alert_entregas{
    margin-top: 22.5px !important;
    width: 2.5% !important;
    right: 5%;
}
.next_entregas:hover{
    cursor: pointer;
    -webkit-filter: invert(0%);
}
.next_entregas{
    right: 0%;
    -webkit-filter: invert(50%);
    transition: 0.5s all;
}

/********* Alumno Tareas **********/
.subtitle_cont h4{
    position: relative;
    top: 10px;
    left: 6%;
    width: 30%;
    float: left;
    font-size: 16px;
    height: 28px;
    color: rgba(0,0,0,0.7);
}
.subtitle_cont h4:hover{
    cursor: pointer;
}
.tarea_alumno{
    margin-left: 1.5%;
    width: 97%;
    height: 60px;
    border-bottom: 1px solid rgba(155,155,155,0.3);
    margin-top: 5px;
}
.tarea_alumno h1{
    position: relative;
    left: 2.5%;
    top: 15px;
    font-size: 16px;
}
.tarea_alumno img:hover{
    cursor: pointer;
    -webkit-filter: invert(0%);
}
.tarea_alumno img{
    position: relative;
    left: 95%;
    width: 2.5%;
    top: -15px;
    -webkit-filter: invert(50%);
    transition: 0.5s all;
}
.tarea_alumno h2{
    position: relative;
    left: 2.5%;
    top: 16px;
    font-size: 14px;
    font-weight: bold;
}

/*************** Perfil ************/
.perfil_izquierda, .cont_configracion{
    background: white;
    border-radius: 2.5px;
    position: relative;
    width: 20%;
    left: 15%;
    top: 110px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
    text-align: center;
    height: 420px;
    
}
.perfil_izquierda h3, .perfil_izquierda h4{
    margin-left: 5%;
    text-align: left;
    font-size: 14px;
    color: rgba(0,0,0,.6);
    margin-top: 15px;
}
.perfil_izquierda h6{
    margin-top: 0 !important;
}
.perfil_izquierda h5, .perfil_izquierda h6{
    text-align: left;
    width: 40%;
    float: left;
    font-size: 14px;
    color: rgba(0,0,0,.6);
    margin-left: 5%;
    margin-top: 15px;
}
.perfil_izquierda h4{
    margin-top: 0px;
}
.perfil_izquierda h1{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.perfil_izquierda h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
}
.perfil_izquierda img:hover + #cont_edit_img{
    visibility: visible;
    opacity: 1;
}
.perfil_izquierda img{
    margin-top: 40px;
    width: 50%;
    height: 135px;
    border-radius: 50%;
}
#cont_edit_img img{
    width: 60%;
    border-radius: 0;
    height: 60%;
    margin: 0;
    margin-top: 8px;
}
#cont_edit_img:hover{
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}
#cont_edit_img{
    position: absolute;
    float: left;
    left:65%;
    top: 120px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background: rgba(9,164,197,1);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.cont_configracion{
    top: -312.5px;
    width: 45% !important;
    left: 37%;
    height: 500px;
}
.titulo_conf{
    position: relative;
    top: 0;
    text-align: left;
    border-bottom: 1px solid rgba(155,155,155,0.3);
    height: 45px;
    width: 95%;
    margin-left: 2.5%;
}
.titulo_conf h1{
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}
.conf_perfil input:focus, .conf_perfil select:focus, .conf_perfil_ide select:focus{
    color: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.6);
}
.conf_perfil input, .conf_perfil select, .conf_perfil_ide select{
    float: left;
    margin-top: 20px;
    margin-left: 2.5%;
    width: 50%;
    margin-right: 15%;
    outline: none;
    border: none;
    color: rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(155,155,155,0.3);
    font-size: 14px;
    padding-left: 5px;
    transition: 0.5s;
}
.conf_perfil h2, .conf_perfil_ide h2{
    text-align: right;
    width: 15%;
    margin-top: 20px;
    float: left;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    margin-left: 6.5%;
}
.conf_perfil h1, .conf_perfil_ide h1{
    text-align: left;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.conf_perfil_ide{
    margin-top: 35px;
    width: 100%;
    margin-bottom: 25px;
}
.conf_perfil{
    width: 100%;
    height: 250px;
}
.cont_configracion button:hover{
    cursor: pointer;
    opacity: 0.9;
}
.cont_configracion button{
    width: 30%;
    float: right;
    margin-right: 5%;
    outline: none;
    height: 35px;
    color: white;
    border: none;
    background: rgba(45,45,45,1);
    border-radius: 5px;
    font-size: 14px;
    margin-top: 45px;
}
/************ Maestro Principal **********/
.conte_general{
    width: 45%;
    position: absolute;
    top: 100px;
    left: 30%;
}
.info_general{
    position: relative;
    float: left;
    width: 100%;
}
.info_general_sup{
    width: 100%;
    height: 30px;
}
.info_general_sup h1{
    float: left;
    margin-left: 1%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 4px;
}
.info_general_sup img{
    margin-top: 5px;
    float: left;
    width: 2.5%;
}
.cuadro_info{
    width: 15%;
    float: left;
    margin-right: 2.5%;
    height: 100px;
    background: white;
    border-radius: 2.5px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
    text-align: center;
}
.cuadro_info h1{
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}
.cuadro_info h2{
    font-size: 14px;
}
.info_grupos_general{
    position: relative;
    width: 100%;
    float: left;
    margin-top: 30px;
}
.general_grupo{
    width: 86%;
    float: left;
    background: white;
    border-radius: 2.5px;
    border: 1px solid #DEDEDE;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
    text-align: center;
    height: 160px;
    margin-bottom: 20px;
}
.superior_grupo{
    width: 95%;
    margin-left: 2.5%;
    height: 40px;
    border-bottom: 1.25px solid rgba(155,155,155,0.3);
}
.superior_grupo h1{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}
.cuadro_grupo{
    width: 24.5%;
    float: left;
    margin-top: 5px;
    border-right: 1px solid rgba(155,155,155,0.3);
    height: 90px;
}
.cuadro_grupo h1{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.img_cuadro_grupo img{
    margin-top: 2.5px;
    width: 70%;
}
.img_cuadro_grupo{
    width: 20%;
    height: 25px;
    position: relative;
    top: 10px;
    left: 40%;
    background: rgba(155,155,155,0.2);
    border-radius: 50%;
}
.cuadro_grupo h2{
    margin-top: 5px;
    font-size: 16px;
}
/************* admin *****/
.superior_maestro_admin{
    width: 95%;
    margin-left: 2.5%;
    border-bottom: 1px solid rgba(155,155,155,0.3);
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.superior_maestro_admin h1{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    float: left;
}
.superior_maestro_admin div:hover{
    cursor: pointer;
    opacity: 0.8;
}
.superior_maestro_admin div{
    margin-top: 10px;
    width: 15%;
    float: right;
    height: 25px;
    background: rgba(219,219,219,1);
    border-radius: 5px;
}
.superior_maestro_admin div img{
    margin-top: 6px;
    width: 13%;
    margin-left: 10%;
    float: left;
}

.superior_maestro_admin div h3{
    padding-left: 10%;
    padding-top: 3px;
    font-size: 14px;
    height: 84%;
    width: 59%;
    margin-left: 30%;
    font-weight: bold;
    border-left: 1px solid rgba(155,155,155,1);
}
/**** tarea detalles***/
.superior_resultados_tarea{
    width: 95%;
    height: 40px;
    border-bottom: 1px solid rgba(155,155,155,0.3);
    margin-left: 2.5%;
}
.superior_resultados_tarea img:hover{
    cursor: pointer;
}
.superior_resultados_tarea img{
    width: 2.5%;
    float: left;
    margin-top: 13px;
    transform: rotate(180deg);
}
.superior_resultados_tarea h1{
    float: left;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1%;
}
.inferior_resultados_tarea{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 20px;
}
.inferior_resultados_tarea h2{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.inferior_resultados_tarea p{
    width: 92.5%;
    margin-left: 2.5%;
    margin-top: 10px;
    font-size: 14px;
}
.inferior_resultados_tarea h4{
    font-size: 14px;
    font-weight: bold;
    margin-left: 2.5%;
    margin-top: 10px;
}
.inferior_resultados_tarea h3{
    margin-top: 25px;
    font-size: 14px;
    margin-left: 2%;
}
.tabla_metrica{
    width: 95%;
    margin-left: 2.5%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.tabla_metrica table{
    width: 100%;
    border-collapse: collapse;
}
.tabla_metrica table caption{
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0,0,0,0.6);
    color: white;
}
.tabla_metrica table th, .tabla_metrica table td{
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,1);
}
.tabla_uno{
    background: rgba(0,0,0,0);
}
.tabla_dos{
    background: rgba(155,155,155,0.2);
}
/*** calificar tarea ***/
.cont_detalles_tare h4{
    font-weight: bold;
    margin-top: 45px;
    float: left;
    margin-left: 30%;
}
.cont_detalles_tare h5{
    font-weight: bold;
    margin-top: 85px;
    float: left;
    margin-left: -58.5%;
    font-size: 16px;
}
.cont_detalles_tare textarea{
    margin-top: 115px;
    float: left;
    margin-left: -58.5%;
    width: 95%;
    padding: 5px;
    height: 100px;
    font-size: 16px;
    outline: none;
    border: none;
    border: 1px solid rgba(155,155,155,0.3);
    transition: 1s;
    resize: none;
}
.cont_detalles_tare input{
    float: left;
    margin-left: 2.5%;
    width: 20%;
    text-align: center;
    margin-top: 45px;
    height: 20px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(155,155,155,0.3);
    transition: 1s;
}
.cont_detalles_tare textarea:focus{
    border: 1px solid black;
}
.cont_detalles_tare input:focus{
    border-bottom: 1px solid black;
}
.cont_detalles_tare button{
    cursor: pointer;
}
.cont_detalles_tare button{
     border: none;
    outline: none;
    width: 30%;
    height: 35px;
    background: rgba(45,45,45,1);
    border-radius: 3px;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 67.2%;
    margin-bottom: 70px;
}
.cont_detalles_tare h1{
    font-size: 18px;
    font-weight: bold;
    margin-left: 5%;
}
/*** metricas***/
.sup_metricas{
    height: 40px;
    width: 100%;
    background: rgba(155,155,155,0.1);
}
.menu_metri:hover{
    cursor: pointer;
    border-bottom: 2px solid rgba(10,164,201,1);
    color: rgba(10,164,201,1) !important;
}
.menu_metri:hover img{
    -webkit-filter: brightness(100%);
}
.menu_metri{
    float: left;
    width: 20%;
    height: 40px;
    position: relative;
    left: 19%;
}
.img_activo{
    -webkit-filter: brightness(100%) !important;
}
.menu_metri img{
    margin-top: 5px;
    float: left;
    width: 12%;
    height: 25px;
    -webkit-filter: brightness(0%);
    margin-left: 16%;
}
.menu_metri h1{
    margin-top: 10px;
    float: left;
    font-size: 16px;
    margin-left: 4%;
}
.inferior_metricas{
    margin-top: 10px;
    width: 95%;
    margin-left: 2.5%;
    height: 50px;
    border-bottom: 1px solid rgba(155,155,155,0.3);
}
.inferior_metricas h1{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-top: 15px;
}
.inferior_metricas div{
    float: right;
    margin-top: 10px;
    height: 30px;
    width: 30%;
    border: 1px solid rgba(155,155,155,0.2);
}
.inferior_metricas div input{
    border: none;
    outline: none;
    width: 80%;
    margin-left: 5%;
    height: 30px;
    font-size: 12px;
}
.inferior_metricas div img:hover{
    cursor: pointer;
}
.inferior_metricas div img{
    float: left;
    margin-top: 6px;
    width: 8%;
    margin-left: 3%;
}
.contenido_res_metricas{
    margin-bottom: 30px;
}
.res_metrica .perfil_metrica:hover{
    cursor: auto;
}
.res_metrica .perfil_metrica{
    float: left;
    width: 5%;
    border-radius: 50%;
    height: 35px;
    margin-left: 2%;
    margin-top: 0;
    -webkit-filter: invert(0%);
}
.res_metrica h1{
    float: left;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 3%;
}
.res_metrica{
    width: 95%;
    margin-left: 2.5%;
    height: 40px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(155,155,155,0.1);
}
.res_metrica img:hover{
    -webkit-filter: invert(0%);
    cursor: pointer;
}
.res_metrica img{
    margin-top: 10px;
    float: right;
    width: 3%;
    -webkit-filter: invert(70%);
}
.res_metrica_sup{
    width: 95%;
    margin-left: 2.5%;
    height: 40px;
    border-bottom: 1px solid rgba(155,155,155,0.3);
}
.res_metrica_sup img:hover{
    cursor: pointer;
}
.res_metrica_sup img{
    float: left;
    width: 2.5%;
    transform: rotate(180deg);
    margin-top: 12px;
}
.res_metrica_sup h1{
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    margin-left: 2%;
}
.grupo_metricas{
    width: 50%;
    margin-top: 20px;
    height: 40px;
    margin-left: 25%;
    border: 2px solid rgba(155,155,155,0.3);
    border-radius: 20px;
    margin-bottom: 10px;
}
.grupo_metricas h2:hover{
    cursor: pointer;
    color: #09A4C5 !important;
}
.grupo_metricas h2{
    float: left;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 5%;
    color: rgba(155,155,155,0.3);
}
.mascara_seccionado{
    position: absolute;
    margin-left: -2px;
    margin-top: -2px;
    width: 18%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #09A4C5;
}
.activo_metrica_men{
    color: #09A4C5 !important;
}
.metrica_indi_cont{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 25px;
    margin-bottom: 200px;
}
.metrica_indi:hover{
    cursor: pointer;
    opacity: 0.6;
}
.metrica_indi{
    text-align: center;
    float: left;
    width: 30%;
    height: 30px;
    background: rgba(155,155,155,0.1);
    margin-left: 2.5%;
    margin-top: 10px;
}
.metrica_activo{
    background: rgba(9,164,197,0.1);
    color: rgba(9,164,197,1);
}
.metrica_indi h1{
    margin-top: 5px;
    font-size: 16px;
}
.info_metricas{
    width: 95%;
    margin-left: 2.5%;
    float: left;
    margin-top: 20px;
}
.info_metricas h1{
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.info_metricas p{
    width: 100%;
    text-align: justify;
    margin-top: 5px;
}
.info_metricas table{
    margin-top: 25px;
    width: 50%;
    margin-left: 25%;
    border-collapse: collapse;
}
.info_metricas th{
    height: 30px;
    font-size: 14px;
    background: rgba(0,0,0,0.6);
    color: white;
    border: 1px solid rgba(0,0,0,11);
}
.info_metricas td{
    padding: 5px;
    height: 50px;
    font-size: 14px;
    background: white;
    text-align: center;
    border: 1px solid rgba(0,0,0,11);
}
.cont_graficas{
    float: left;
    width: 100%;
    margin-bottom: 45px;
}
.grafica1{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    height: 250px;
}
.detalles_grupo_nuevo{
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2.5%;
}
/******* notificaciones *******/
.notifi{
    position: fixed;
	top: 20%;
	width: 20%;
	left: 110%;
	background:  rgba(155,155,155,1);
	height: 60px;
	border-radius: 3px;
	box-shadow: 0 1px 5px 0px rgba(0,0,0,0.8);
	z-index: 99999;
    display: block;
}
.notifi h1{
	position: relative;
	margin-top: 15px;
    width: 100%;
    text-align: center;
	float: left;
	color: white;
	font-size: 20px;
	font-weight: 400;
}
.descr_aux{
    width: 90%;
    margin-left: 2.5%;
    padding-left: 5%;
    overflow-y: hidden;
    overflow-x: scroll;
}
.cke_chrome{
    margin-top: 10px !important;
     border: none !important;   
}