
.imagenLogin{
  width: 100%;
}

.fondo{
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: fixed;
}


.formularioLogin{
    z-index: 1;
    position: fixed;
    margin-left: 38px;
    margin-top: 134px;
    width: 416px;
}

.formularioLogin input[type="email"]{
    width: 100%;
    border-radius: 4px;
    height: 44px;
}

.formularioLogin input[type="password"]{
    width: 100%;
    border-radius: 4px;
    height: 44px;
}

.formularioLogin input[type="submit"]{
    width: 191px;
    border-radius: 100px;
    height: 44px;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    margin-top: 20px;
}

.formularioLogin label{
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
    color: white;
}

.bbllogo2escritorio {
  width: 205px;
  height: 110.4px;
  float: right;
}

.bbllogoLogin{
    width: 100%;
    float: right;
    margin-bottom: 10px;
}

.USUARIO{
  width: 309.7px;
  height: 14px;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.CONTRASEA {
  margin-top: 20px;
  width: 309.7px;
  height: 14px;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.Olvidaste-tu-contra {
  float: left;
  margin-top: 23px;
  margin-bottom: 15px;
  width: 100%;
  height: 14px;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.Olvidaste-tu-contra:hover {
  float: left;
  margin-top: 23px;
  margin-bottom: 15px;
  width: 100%;
  height: 14px;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.btn-login{
  position: fixed;
  width: 416px;
  margin-top: 60px;
}

.btn-login input{
  background: transparent;
  color: #fff;
  border: none;
}

.INICIAR-SESIN {
  height: 16px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.Rectangle-7-escritorio{
  width: 191px;
  height: 44px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
}

.o-con {
  float: left;
  margin-top: 10px;
  margin-left: 38.5px;
  width: 39px;
  height: 14px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.facebook {
  float: left;
  margin-left: 31px;
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.googleplus {
  margin-left: 23px;
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.No-tienes-cuenta-C {
  margin-top: 41px;
  float: left;
  width: 100%;
  height: 14px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.No-tienes-cuenta-C:hover{
  margin-top: 41px;
  float: left;
  width: 100%;
  height: 14px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

.redesSociales{
  margin-top: 21px;
  float: right;
}

@media only screen and (max-width: 320px) {

  .formularioLogin input[type="submit"]{
      width: 100%;
      border-radius: 100px;
      height: 44px;
      background-color: transparent;
      border: 1px solid #fff;
      outline: none;
      color: #fff;
      margin-top: 20px;
  }

    .fondo{
      overflow: hidden;
      height: 100%;
      width: 100%;
      z-index: 0;
      position: fixed;
    }

    .formularioLogin{
        padding: 20px;
        position: fixed;
        margin-left: 0px;
        margin-top: 50px;
        width: 100%;
    }

    .formularioLogin input{
        width: 100%;
        border-radius: 100px;
        height: 44px;
    }

    .formularioLogin label{
        margin-bottom: 20px;
    }

    .bbllogo2escritorio {
      width: 205px;
      height: 110.4px;
      float: right;
    }

    .bbllogoLogin{
        width: 100%;
        float: right;
        margin-bottom: 10px;
    }

    .USUARIO{
      width: 100%;
      height: 14px;
      font-size: 14px;
      text-align: left;
      color: #ffffff;
    }

    .CONTRASEA {
      margin-top: 20px;
      width: 100%;
      height: 14px;
      font-size: 14px;
      text-align: left;
      color: #ffffff;
    }

    .Olvidaste-tu-contra {
      float: left;
      margin-top: 20px;
      width: 100%;
      height: 14px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
    }

    .btn-login{
      position: fixed;
      width: 100%;
      margin-top: 60px;
    }

    .btn-login input{
      background: transparent;
      color: #fff;
      border: none;
    }

    .INICIAR-SESIN {
      height: 16px;
      font-size: 16px;
      text-align: center;
      color: #ffffff;
    }

    .Rectangle-7{
      float: left;
      height: 44px;
      border-radius: 100px;
      border: solid 1px #ffffff;
      background-color: transparent;
    }

    .o-con {
      margin-top: 5px !important;
      margin-left: 20px !important;
      width: 39px;
      height: 14px;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }

    .facebook {
      float: left;
      margin-left: 11px;
      width: 44px;
      height: 44px;
      object-fit: contain;
    }

    .googleplus {
      margin-left: 23px;
      width: 44px;
      height: 44px;
      object-fit: contain;
    }

    .No-tienes-cuenta-C {
      margin-top: 41px;
      float: left;
      width: 100%;
      height: 14px;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }

    .redesSociales{
      margin-left: 25%;
      width: 75%;
    }
}

@media screen and (max-width: 414px) {

  .formularioLogin input[type="submit"]{
      width: 100% ;
      border-radius: 100px;
      height: 44px;
      background-color: transparent;
      border: 1px solid #fff;
      outline: none;
      color: #fff;
      margin-top: 20px;
  }

    .fondo{
      overflow: hidden;
      height: 100%;
      width: 100%;
      z-index: 0;
      position: fixed;
    }

    .formularioLogin{
        padding: 20px;
        position: fixed;
        margin-left: 0px;
        margin-top: 50px;
        width: 100%;
    }

    .formularioLogin input{
        width: 100%;
        border-radius: 100px;
        height: 44px;
    }

    .formularioLogin label{
        margin-bottom: 20px;
    }

    .bbllogo2escritorio {
      width: 205px;
      height: 110.4px;
      float: right;
    }

    .bbllogoLogin{
        width: 100%;
        float: right;
        margin-bottom: 10px;
    }

    .USUARIO{
      width: 100%;
      height: 14px;
      font-size: 14px;
      text-align: left;
      color: #ffffff;
    }

    .CONTRASEA {
      margin-top: 20px;
      width: 100%;
      height: 14px;
      font-size: 14px;
      text-align: left;
      color: #ffffff;
    }

    .Olvidaste-tu-contra {
      float: left;
      margin-top: 20px;
      width: 100%;
      height: 14px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
    }

    .btn-login{
      position: fixed;
      width: 100%;
      margin-top: 60px;
    }


    .btn-login input{
      background: transparent;
      color: #fff;
      border: none;
    }

    .INICIAR-SESIN {
      height: 16px;
      font-size: 16px;
      text-align: center;
      color: #ffffff;
    }

    .Rectangle-7{
      float: left;
      height: 44px;
      border-radius: 100px;
      border: solid 1px #ffffff;
      background-color: transparent;
    }

    .o-con {
      margin-top: 5px !important;
      margin-left: 20px !important;
      width: 39px;
      height: 14px;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }

    .facebook {
      float: left;
      margin-left: 11px;
      width: 44px;
      height: 44px;
      object-fit: contain;
    }

    .googleplus {
      margin-left: 23px;
      width: 44px;
      height: 44px;
      object-fit: contain;
    }

    .No-tienes-cuenta-C {
      margin-top: 41px;
      float: left;
      width: 100%;
      height: 14px;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }

    .redesSociales{
      margin-left: 25%;
      width: 75%;
    }
}
