.fondo{
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.formularioOlviContr{
  top: 140px;
  left: 40px;
  height: 436px;
  width: 420px;
  position: absolute;
  background-color: transparent
}

.olvidaste-cont{
  top: 135px;
  width: 342px;
  height: 80px;
  position: absolute;
  
  font-weight: 300;
  font-size: 32px;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
}

.bblLogo{
  top: 0px;
  left: 251px;
  position: absolute;
  width: 165px;
  height: 214.2px;

}

.correo-electronico{
  top: 250px;
  position: absolute;
  width: 309.7px;
  height: 20px;
  font-weight: lighter;
  font-size: 14px;
  text-align: left;
  color: #ffffff;
}

.txt-correo{
  width: 416px;
  height: 44px;
  position: absolute;
  top: 280px;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: lighter;
  font-size: 16px;
  color: #7c7c7c;
}


.volver{
  top: 367px;
  width: 65px;
  height: 20px;
  position: absolute;
  font-weight: lighter;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

.volver:hover{
  color: #ffffff;
}

.boton-enviar{
  left: 242px;
  top: 350px;
  width: 172px;
  height: 44px;
  position: absolute;
  border-radius: 100px;
  background-color: transparent;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  border-color: #ffffff;
  color: #ffffff;
}

.boton-enviar:hover{
  width: 173px;
  height: 45px;
}
