body {
  font: 5px helvetica neue, helvetica, arial, sans-serif;
}

/*#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

}*/

#cy {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#cy2 {
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;

  border-top: 1px solid #ccc;
}
