/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
  overflow-x: hidden;
}

#wrapper {
  background: #d0d0d0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222222;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
}

.filemanag-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.filemanag-list li {
  text-indent: 40px;
  line-height: 40px;
  height: 40px;
}

.filemanag-list li {
  display: block;
  text-decoration: none;
  color: #999999;
  font-size: initial;
}

.filemanag-list li:hover, .sidebar-brand:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.filename{
  width: calc(100% - 60px);
  float: left;
  overflow-x: hidden;
}

.filename:active, .filename:focus, .filename:link, .filename:visited {
  display: block;
  text-decoration: none;
  color: #999999;
}

.filename > input{
  width: calc(100% - 40px);
  height: 30px;
}

.sidebar-brand{
  height: 40px;
  font-size: 18px;
}

.sidebar-icon, .sidebar-icon-right{
  width: 40px;
  height: 40px;
  float: left;
  line-height: normal;
}

.sidebar-icon > img, .sidebar-icon-right > img{
  width: 32px;
  height: 32px;
  margin-left: 4px;
  margin-top: 4px;
}

.sidebar-content{
  width: calc(100% - 40px);
  height: 40px;
  line-height: 40px;
  float: left;
  color: white;
}


.sidebar-text{
  width: calc(100% - 40px);
  height: 40px;
  line-height: 40px;
  float: left;
}

.sidebar-text > input{
  height: 32px;
  width: 100%;
}

.sidebar-icon-right{
  width: 40px;
  height: 40px;
  float: left;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.remove-file, .rename-file, .accept-rename, .cancel-rename{
  width: 30px;
  height: 30px;
  float: left;
  text-indent: 0px;
}

.rename-file{
  width: 30px;
  height: 30px;
  float: left;
  text-indent: 0px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 40px;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 40px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/*Estilos checo*/
.barra-herramientas{
	height: 40px;
}
.herramientas{
  height: 40px;
  width: 50%;
  float: left;
}

.herramientas img{
	float: left;
	height: 30px;
	margin-top: 5px;
}

.herramientas h1{
	float: left;
  font-size: 20px;
  margin-top: 10px;
}

.area-trabajo
{
	width: 100%;
}

.barra-botones{
  height: 100%;
  width: 20px;
  position: absolute;
  top:0px;
  left: calc(50% - 10px);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.boton-consola{
  height: 50%;
  width: 20px;
  background: rgba(91, 83, 158, 1);
}

.boton-consola:hover, .boton-diagramas:hover{
  background: rgba(91, 83, 158, .9);
}

.boton-consola img, .boton-diagramas img{
  width: 16px;
  height: 16px;
  margin-left: calc(50% - 8px);
}

.boton-diagramas{
  height: 50%;
  width: 20px;
  background: rgba(91, 83, 158, 1);
}

#charts{
  width: calc(50% - 10px);
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.no-border{
  border: 0px;
  box-shadow: none;
  outline: none;
}
