{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<div>

  <img src="{%static '/views/img/login/group@2x.jpg'%}" class="img-fluid fondo" alt="" >

  <div class="formularioAvisoNuevaContrasea">
    <form class="form-group"  method="">

      <img src="{%static '/views/img/login/bangbanglab-bomba.png' %}" class="bblLogo" alt="">

      <div class="aviso-nueva-cont">Te hemos enviado un correo para reestablecer tu contraseña</div>

      <a href="{%url 'login_view' %}" class="volver">< Volver</a>

    </form>

  </div>

</div>
{% endblock content %}