{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenido</title>
  </head>
  <body>
    <div class="Correo-bienvenida">
      <div class="plantillaEmail">
        <div class="headerPlantilla">
          <img src="{%static 'views/img/login/bangbanglab-blanco.png' %}" class="bbllogo2" alt="">
        </div>
        <div class="cuerpoPlantilla">
          <div class="Bienvenido">
            <p>¡Bienvenido!</p>
          </div>
          <div class="Tu-registro-se-ha-ll">
            <p>Tu registro se ha llevado a cabo exitosamente.<br>
            Para poder ingresar a la plataforma, deberás generar una contraseña para tu cuenta</p>
            <br>
            <p>Da click en el botón y serás redirigido al sitio:</p>
          </div>
          <button type="button" name="button" class="btnReestablecer">
            <p class="REESTABLECER">REESTABLECER</p>
          </button>
          <p class="Gracias-por-registra">Gracias por registrarte a BangBang Lab</p>
        </div>
      </div>
      <p class="Copyrigth-2017-Ban">Copyrigth © 2017 BangBang Lab. Todos los derechos reservados.</p>
    </div>
  </body>
</html>
{% endblock content %}
