{% load staticfiles %}
{% load static %}
{% block content %}
<title>Inicio Alumno</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">Grupos</a>
<a href="/tareas/getTareasByAlumno">Tareas</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<a href="grupos/unirseGrupo">Unirme a Grupo</a>
<h1>________________________</h1>
<p>Calificacion de la Tarea: {{calificacionIndividual}}</p>
<p>Observaciones de la Tarea: {{observaciones}}</p>
<h1>__________________________</h1>
{% for info in calificacionMetricas %}
    <p>Metrica: {{info.1}}</p>
    <p>Descripcion: {{info.2}}</p>
    <p>Indicador Maximo: {{info.4}}</p>
    <p>Indicador Minimo: {{info.5}}</p>
    <p>Calificacion: {{info.9}}</p>
    <h1>________________________</h1>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
