{% block content %}
<head>
  <title>Completar Registro</title>
</head>
<body class="fondo_login">
  <div class="notifi" id="notifi"><h1>Datos Incorrectos</h1></div>
   <div class="fondo_negro_log"></div>
    <div class="cont_completar">
       <form id="form_completar_registro" onsubmit="return false" method="POST">
           <h1>Más sobre ti</h1>
            <input id="nombre" type="text" class="grande" placeholder="Nombre(s)">
            <input id="apellidos" type="text" class="grande" placeholder="Apellidos">
            <select id="institucion" class="grande">
                <option value="insti">Institución</option>
                <option value="Universidad Autonoma De Queretaro">Universidad Autónoma De Querétaro</option>
            </select>
            <select id="semestre" class="small">
                <option value="sem">Semestre</option>
                <option value="Octavo">Octavo</option>
                <option value="Septimo">Septimo</option>
                <option value="Sexto">Sexto</option>
                <option value="Quinto">Quinto</option>
                <option value="Cuarto">Cuarto</option>
                <option value="Tercero">Tercero</option>
                <option value="Segundo">Segundo</option>
                <option value="Primero">Primero</option>
            </select>
            <input id="expediente" type="text" placeholder="Expediente" class="small">
            <button>Completar Registro</button>
       </form>
    </div>
</body>
{% endblock content %}
{% block extra_javascript %}
    <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'admin/funcionesCompletar_Registro.js' %}"></script>
    <script src="{% static 'admin/funciones.js' %}"></script>
{% endblock extra_javascript %}
