{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<title onload="cargarGruposMaestro(); generalGrupojs();">Inicio Maestro</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">General</a>
<a href="/grupos/insertGrupo">Crear Grupo</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<h1>________________________</h1>
<p>Nombre del Grupo: {{diccionario.nombre}}</p>
<p>Detalles del Grupo: {{diccionario.detalles}}</p>
<p>Clave del Grupo: {{diccionario.clave}}</p>
<a href="/grupos/get_alumnos_grupo/{{diccionario.id_grupo}}">Ver Miembros</a>
<a href="/tareas/get_tareas_grupo/{{diccionario.id_grupo}}">Ver Tareas</a>
<a href="/grupos/get_datos_grupoM/{{diccionario.id_grupo}}">Ajustes Grupos</a>
{% endblock content %}
{% block extra_javascript %}
<!--
  <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="{% static 'admin/funciones.js' %}"></script>
  <script src="{% static 'admin/sesiones.js' %}"></script>
  <script src="{% static 'admin/funciones_grupos.js' %}"></script>
  <script src="{% static 'admin/highcharts.js' %}"></script>
  <script src="{% static 'admin/ckeditor/ckeditor.js' %}"></script>
-->
{% endblock extra_javascript %}
