{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<title onload="cargarGruposMaestro(); generalGrupojs();">Inicio Maestro</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">General</a>
<a href="">Crear Grupo</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<h1>________________________</h1>
<a href="/grupos/get_alumnos_grupo/{{id_grupo}}">Ver Miembros</a>
<a href="/tareas/get_tareas_grupo/{{id_grupo}}">Ver Tareas</a>
<a href="/grupos/get_datos_grupoM/{{id_grupo}}">Ajustes Grupos</a>
<h1>_________________________</h1>
{{mensaje}}
{% for info in datos %}
<p>Expediente Alumno: {{info.0}}</p>
<p>Nombre Alumno: {{info.1}}, {{info.2}}</p>
<p>Fecha y Hora de Entrega: {{info.3}}</p>
<p>Estatus: {{info.4}}</p>
<p>Calificacion: {{info.5}}</p>
<p>Archivos Tarea: </p>
{% for archivo in info.8 %}
<a href="/media/documents/{{info.6}}/{{id_grupo}}/{{id_tarea}}/{{archivo}}" download>'{{archivo}}'</a>
{% endfor %}
<form action="/tareas/calificarTarea/{{id_grupo}}/{{id_tarea}}/{{info.6}}" method="POST">
  {% csrf_token %}
  {{form}}
  <button type="submit">Calificar Tarea</button>
</form>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
