{% load staticfiles %}
{% load static %}
{% block content %}
<title>Evaluacion Tarea</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/evaluaciones/grupo">Evaluaciones por Grupo</a>
<a href="/evaluaciones/tarea">Evaluaciones por Tarea</a>
<a href="/evaluaciones/alumno">Evaluaciones por Alumno</a>
<h1>________________________</h1>
{% for info in grupos %}
    <p>Nombre Tarea: {{info.1}}</p>
    <a href="/metricas/getAllMetricas/tarea/{{info.0}}/codificacion">Ver Mericas</a>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}

{% endblock extra_javascript %}
