{% load staticfiles %}
{% load static %}
{% block content %}
<title>Evalucaciones Grupo</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/evaluaciones/grupo">Evaluaciones por Grupo</a>
<a href="/evaluaciones/tarea">Evaluaciones por Tarea</a>
<h1>________________________</h1>
{% for info in grupos %}
    <p>Nombre Curso: {{info.1}}</p>
    <a href="/metricas/getAllMetricas/grupo/{{info.0}}/codificacion">Ver Mericas</a>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}
<!--
  <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'admin/funciones_alumno.js' %}"></script>
  <script src="{% static 'admin/funciones.js' %}"></script>
  <script src="{% static 'admin/funciones_grupos.js' %}"></script>
  <script type="text/javascript">
     window.onload = cargarDatosUsuario('{{datos.expediente}}', '{{user.username}}', '{{user.first_name}}', '{{user.last_name}}');
     window.onload = cargar_alumno({{datos.user_id}});
  </script>
-->
{% endblock extra_javascript %}
