{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Compilador</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<script src="{% static 'ide-files/lib/jquery-2.1.0.min.js'%}"></script>
	<link rel="stylesheet" href="{% static 'ide-files/bootstrap/css/bootstrap.min.css'%}">

	<script src="{% static 'ide-files/lib/popper.min.js'%}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'ide-files/css/estilo.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'ide-files/css/style.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'ide-files/css/print.css' %}" media="print" />
	<link type="text/css" rel="stylesheet" href="{% static 'ide-files/css/ansi.css' %}" />


	<!--Compilador :'v-->
	<script src="{% static 'ide-files/jsrepl/repl.js' %}?{{CACHE_BUSTER}}" id="jsrepl-script"></script>
	<script src="{% static 'ide-files/jsrepl/languages.js' %}?{{CACHE_BUSTER}}"></script>
	<script src="{% static 'ide-files/lib/jqconsole-2.10.0.min.js' %}"></script>
	<script src="{% static 'ide-files/lib/bootstrap-tooltip.js' %}"></script>
	<script src="{% static 'ide-files/lib/page.js' %}"></script>
	<script src="{% static 'ide-files/src/base.js' %}?{{CACHE_BUSTER}}"></script>
	<script src="{% static 'ide-files/src/browser-check.js' %}?{{CACHE_BUSTER}}"></script>
	<script src="{% static 'ide-files/src/dom.js' %}"></script>
	<script src="{% static 'ide-files/src/repl.js' %}?{{CACHE_BUSTER}}"></script>
	<script src="{% static 'ide-files/src/pager.js' %}?{{CACHE_BUSTER}}"></script>
	<script src="{% static 'ide-files/src/router.js' %}?{{CACHE_BUSTER}}"></script>
	<script src="{% static 'ide-files/src/session.js' %}?{{CACHE_BUSTER}}"></script>
	<script src="{% static 'ide-files/src/languages.js' %}?{{CACHE_BUSTER}}"></script>
	<script src="{% static 'ide-files/src/analytics.js' %}?{{CACHE_BUSTER}}"></script>



	<script src="{% static 'ide-files/lib/acenuevo/ace.js' %}"></script>

	<!--Diagramas-->
	<link href="{% static 'ide-files/css/cytos.css' %}" rel="stylesheet" />
	<script src="{% static 'ide-files/src/cytoscape.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'ide-files/css/jquery.qtip.css' %}">
	<script src="{% static 'ide-files/lib/jquery.qtip.js' %}"></script>
	<script src="{% static 'ide-files/src/jquery.qtip.js' %}"></script>
	<script src="{% static 'ide-files/src/cytoscape-qtip.js' %}"></script>

</head>
<body>
	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<div class="sidebar-nav">
				<div class="sidebar-brand" id="menu-toggle">
					<div class = "sidebar-icon"><img src="{% static 'ide-files/images/sidebar-menu.png' %}"></div>
					<div class = "sidebar-content">Menú</div>
				</div>
				<div class="sidebar-brand" >
					<div class = "sidebar-icon"><img src="{% static 'ide-files/images/sidebar-save.png' %}"></div>
					<div class = "sidebar-content">Guardar</div>
				</div>
				<div class="sidebar-brand" >
					<div class = "sidebar-icon"><img src="{% static 'ide-files/images/sidebar-send-nudes.png' %}"></div>
					<div class = "sidebar-content">Enviar y Cerrar</div>
				</div>
				<div class="sidebar-brand">
					<div class = "sidebar-icon"><img src="{% static 'ide-files/images/sidebar-files.png' %}"></div>
					<div class = "sidebar-content">
						<div class = "sidebar-text" id = "texto-archivos">Archivos</div>
						<div class = "sidebar-icon-right">
							<img id = "img-archivos" src = "{% static 'ide-files/images/sidebar-add-file.png' %}">
						</div>
					</div>
				</div>
				<ul class = "filemanag-list" id="file-list">
					<li>Archivoalv</li>
					<li>Archivoalv</li>
				</ul>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="barra-herramientas">
				<div class = "herramientas izquierda">
					<h1 id = "file-name">Nombre del Archivo.py</h1>

				</div>
				<div class = "herramientas derecha">
					<select id = "theme-select" class = "form-control bg-dark text-white selector-theme"></select>
					<div id = "btn-sizeless" class = "button-less"> <img src="{% static 'ide-files/images/font-size-tool.png' %}"></div>
					<div id = "btn-sizeplus" class = "button"> <img src="{% static 'ide-files/images/font-size-tool.png' %}"></div>
					<div id="editor-run" class="button"><img src="{% static 'ide-files/images/play-button.png' %}"></div>
					<div id="lel" class="button"><img src="{% static 'ide-files/images/play-button.png' %}"></div>
				</div>
			</div>

			<div id = "main">
				<div id="content-workspace" class="page">
					<div id="editor">
						<div id="editor-widget"></div>
						<div id="unhide-left"></div>
					</div>
					<div class="barra-botones" id = "buttons-console-diagrams">
						<div class = "boton-consola" id = "btn-consola"><img src="{% static 'ide-files/images/icon-console.png' %}" id = "icon-btn-console"></div>
						<div class = "boton-diagramas" id = "btn-diagramas"><img src="{% static 'ide-files/images/icon-chart.png' %}" id = "icon-btn-diagram"></div>
					</div>
					<div id="console">
						<div id="replay-button" class="button">Run Session</div>
						<div id="progress"><div id="progress-fill"></div></div>
						<div id="unhide-right"></div>
					</div>
					<div id="charts">
						<div id="cy"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#wrapper -->



	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			if(REPLIT.menu_desplegado == 0)
			{
				if($("#wrapper").toggleClass("toggled"))
					REPLIT.menu_desplegado = 1;
				REPLIT.pixeles_menu = 210;
				REPLIT.OnResize();
			}
			else
			{
				if($("#wrapper").toggleClass("toggled"))
					REPLIT.menu_desplegado = 0;
				REPLIT.pixeles_menu = 0;
				REPLIT.OnResize();
			}

		});
	</script>
	<script src="{% static 'ide-files/assets/editorUI.js' %}"></script>
	<script src="{% static 'ide-files/assets/fileManager.js' %}"></script>
	<script src="{% static 'ide-files/assets/editor.js' %}"></script>
	<script type="text/javascript" src = "{% static 'ide-files/js/funciones.js' %}"></script>
	<script src="{% static 'ide-files/js/MainJS.js' %}"></script>
	<script src="{% static 'ide-files/js/Clases.js' %}"></script>
	<script src="{% static 'ide-files/js/AsociacionesClases.js' %}"></script>
</body>
</html>
