{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<title onload="cargarGruposMaestro(); generalGrupojs();">Inicio Maestro</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">General</a>
<a href="/grupos/insertGrupo">Crear Grupo</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<h1>________________________</h1>
<p>Info General</p>
<p>Total Grupos: {{totalGrupos}}</p>
<p>Grupos Activos: {{gruposActivos}}</p>
<p>Evaluaciones Pendientes: {{evalPendientes}}</p>
<p>Alumnos Inscritos: {{alumnosInscritos}}</p>
<p>Tareas Creadas: {{tareasCreadas}}</p>
<h1>________________________</h1>
{% for info in gruposM %}
    <p>Nombre del Grupo: {{info.1}}</p>
    <a href="/grupos/get_datos_grupo/{{info.0}}">Mostrar Grupo</a>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}
<!--
  <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="{% static 'admin/funciones.js' %}"></script>
  <script src="{% static 'admin/sesiones.js' %}"></script>
  <script src="{% static 'admin/funciones_grupos.js' %}"></script>
  <script src="{% static 'admin/highcharts.js' %}"></script>
  <script src="{% static 'admin/ckeditor/ckeditor.js' %}"></script>
-->
{% endblock extra_javascript %}
