{% load staticfiles %}
{% load static %}
{% block content %}
<title>Inicio Maestro</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<a href="/maestro/registrar_maestro">Agregar Maestro</a>
<a href="/maestro/registrar_maestro_correo">Agregar Maestro por Correo</a>
<a href="/">Ver Maestros</a>
<h1>________________________</h1>
<p>Maestros: </p>
{{mensaje}}
{% for info in datos %}
<img src="/static/perfil/{{info.4}}/user.jpg" alt="" style="height: 50px;">
<p>Nombre: {{info.1}}, {{info.2}}</p>
<p>Correo:  {{info.4}}</p>
<a href="/maestro/cambiar_maestros/{{info.0}}">Hacer Alumno</a>
<br>
{% endfor %}

{% endblock content %}
{% block extra_javascript %}
<!--
  <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="{% static 'admin/funcionesAdmin.js' %}"></script>
  <script src="{% static 'admin/funciones.js' %}"></script>
  <script src="{% static 'admin/sesiones.js' %}"></script>
  <script src="{% static 'admin/funciones_grupos.js' %}"></script>
  <script src="{% static 'admin/highcharts.js' %}"></script>
  !-->
{% endblock extra_javascript %}

