{% extends 'views/index.html' %}
{% load staticfiles %}
{% block content %}
<div class="letrasBlancas">
  <img src="{% static 'views/img/group@2x.jpg' %}" class="img-fluid fondo"alt="">
  <div class="formularioLogin">
    <div class="imagenLogin">
      <img src="{% static 'views/img/bangbanglab-blanco.png' %}" class="img-fluid bbllogo2escritorio">
    </div>
    <title>Login</title>
    <div class="form-group">
      <form action="/login/normal" method="POST">
        {% csrf_token %}
        {{form}}
        <a class="Olvidaste-tu-contra" href="recuperacion_view">¿Olvidaste tu contraseña?</a>
        <input type="submit" value="INICIAR SESIÓN">
        <div class="redesSociales">
          <img src="{% static 'views/img/facebook@2x.png'%}" class="facebook" alt="">
            <p class="o-con">o con</p>
          <img src="{% static 'views/img/googleplus@2x.png'%}" class="googleplus" alt="">
        </div>
      </form>
      {{mensaje}}
      <p class="No-tienes-cuenta-C" onclick="window.location.href='/registro'">¿No tienes cuenta? Crea una aquí</p>
    </div> <!--Fin del div con class="bbllogo2"!-->
  </div> <!--Fin del div con class="fondo"!-->
</div> <!---Fin div padre !-->
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
