{% load staticfiles %}
{% load static %}
{% block content %}
<title>Evaluacion Alumno</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/evaluaciones/grupo">Evaluaciones por Grupo</a>
<a href="/evaluaciones/tarea">Evaluaciones por Tarea</a>
<h1>________________________</h1>
<a href="/metricas/getAllMetricas/{{tipo}}/{{id_tipo}}/codificacion">Metricas de Codificacion</a>
<a href="/metricas/getAllMetricas/{{tipo}}/{{id_tipo}}/ejecucion">Metricas de Ejecucion</a>
<a href="/metricas/getAllMetricas/{{tipo}}/{{id_tipo}}/compilacion">Metricas de Compilacion</a>
<h1>________________________</h1>
{% for info in metricas %}
    <p>Nombre Metrica: {{info.1}}</p>
    <a href="/metricas/getDetallesMetrica/{{info.0}}/{{tipo}}/{{id_tipo}}">Detalles de la Metrica</a>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}

{% endblock extra_javascript %}
