{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<title onload="cargarGruposMaestro(); generalGrupojs();">Inicio Maestro</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">General</a>
<a href="/grupos/insertGrupo">Crear Grupo</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<h1>________________________</h1>
<a href="/grupos/get_alumnos_grupo/{{id_grupo}}">Ver Miembros</a>
<a href="/tareas/get_tareas_grupo/{{id_grupo}}">Ver Tareas</a>
<a href="/grupos/get_datos_grupoM/{{id_grupo}}">Ajustes Grupos</a>
<h1>_________________________</h1>
<a href="/grupos/agregar_alumno_grupo/{{id_grupo}}">Agregar Miembro</a>
{% for info in datos %}
	<img src="/static/perfil/{{info.0}}/user.jpg" alt="" style="height: 50px;">
    <p>Nombre del Alumno: {{info.1}},{{info.2}}</p>
    <p>Correo del Alumno: {{info.0}}</p>
    <p>Expediente: {{info.3}}</p>
    <a href="/grupos/eliminar_alumno_grupo/{{id_grupo}}/{{info.4}}">Eliminar alumno del Grupo</a>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
