{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<title onload="cargarGruposMaestro(); generalGrupojs();">Inicio Maestro</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">General</a>
<a href="">Crear Grupo</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<h1>________________________</h1>
<a href="/grupos/get_alumnos_grupo/{{id_grupo}}">Ver Miembros</a>
<a href="/tareas/get_tareas_grupo/{{id_grupo}}">Ver Tareas</a>
<a href="/grupos/get_datos_grupoM/{{id_grupo}}">Ajustes Grupos</a>
<h1>_________________________</h1>
{% for info in datos %}
<p>Nombre Tarea: {{info.1}}</p>
<p>Descripcion: {{info.2}}</p>
<p>Fecha entrega: {{info.3}}</p>
<p>Archivos Adjuntos: </p>
{% for archivo in info.4 %}
<a href="/static/grupos/{{id_grupo}}/{{id_tarea}}/{{archivo}}" download>'{{archivo}}'</a>;
{% endfor %}
{% endfor %}
<p>Autocompletado Básico: {{diccionarioIde.autocompletado_basico}}</p>
<p>Autocompletado en Vivo: {{diccionarioIde.autocompletado_live}}</p>
<p>Remarcar Linea Activa: {{diccionarioIde.highlihtActiveLine}}</p>
<p>Numero Máximo de Lineas: {{diccionarioIde.maxLines}}</p>
<p>Habilitar Cerrado automatico de Llaves: {{diccionarioIde.bahaviousEnabled}}</p>
<p>Habilitar Snippets: {{diccionarioIde.snippets}}</p>
<p>Habilitar Información de Código: {{diccionarioIde.infoToken}}</p>
<h1>---------------------------</h1>
<p>Modificar Tarea</p>
 <form action="/tareas/modificarTarea/{{id_grupo}}/{{id_tarea}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="modificar Tarea">
 </form>
 {{mensaje}}
{% endblock content %}
{% block extra_javascript %}
<!--
  <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="{% static 'admin/funciones.js' %}"></script>
  <script src="{% static 'admin/sesiones.js' %}"></script>
  <script src="{% static 'admin/funciones_grupos.js' %}"></script>
  <script src="{% static 'admin/highcharts.js' %}"></script>
  <script src="{% static 'admin/ckeditor/ckeditor.js' %}"></script>
-->
{% endblock extra_javascript %}
