{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<title onload="cargarGruposMaestro(); generalGrupojs();">Inicio Maestro</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">General</a>
<a href="">Crear Grupo</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<h1>________________________</h1>
<a href="/grupos/get_alumnos_grupo/{{id_grupo}}">Ver Miembros</a>
<a href="/tareas/get_tareas_grupo/{{id_grupo}}">Ver Tareas</a>
<a href="/grupos/get_datos_grupoM/{{id_grupo}}">Ajustes Grupos</a>
<h1>_________________________</h1>
 <form action="/tareas/insertTarea/{{id_grupo}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Crear Nueva Tarea">
 </form>
 {{mensaje}}
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
