{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<div>
  <img src="{%static '/views/img/login/group@2x.jpg'%}" class="img-fluid fondo" alt="" >
  <div class="formularioNewPass">
    <form class="form-group" action="" method="">
      <div class="recuperar-cont">Recuperación de contraseña</div>

      <img src="{%static '/views/img/login/bangbanglab-bomba.png' %}" class="bblLogo" alt="">

      <div class="nuevo-password">NUEVA CONTRASEÑA</div>

      <input type="password" class="txt-new-pass form-control" >

      <div class="repite-password">CONFIRMAR CONTRASEÑA</div>

      <input type="password" class="txt-repite-pass form-control" >

      <input type="button" class="boton-enviar form-control" value="REESTABLECER">
    </form>

  </div>
</div>
{% endblock content %}