{% load staticfiles %}
{% load static %}
{% block content %}
<title>Perfil</title>
<img src="{% static 'views/img/logo.png' %}" alt="logo" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
	

<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
{% for info in datos %}
	{% with "perfil/"|add:info.1|add:"/user.jpg" as profile %}
	<img src="{% static profile %}" alt="Perfil" style="height: 70px;">
	{% endwith %}
	<br>
	Nombre: {{info.2}}
    <br>
    Apellido: {{info.3}}
    <br>
    Institucion: {{info.4}}
    <br>
    Correo: {{info.1}}
    <br>
    Expediente: {{info.5}}
    <br>
    Semestre: {{info.6}}	
{% endfor %}
<h1>_________________________</h1>
<h1>Configuración</h1>
<h2>Cambiar datos</h2>
 <form action="/perfil/upload" method="POST">
    {% csrf_token %}
    {{form}}
  <input type="submit" value="Cambiar Datos">
 </form>
 {{mensaje1}}
 <h1>_________________________</h1>
 <h2>Cambiar foto de perfil</h2>
 <form action="/perfil/fotoUpload" enctype="multipart/form-data" method="POST">
 	{% csrf_token %}
    {{form2}}
     <input type="submit" value="Actualizar Foto de Perfil">
 </form>
 {{mensaje2}}
{% endblock content %}
{% block extra_javascript %}
<!--
  onload="cargarAdmin();cargarDatosUsuario();"
  <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'admin/funciones_alumno.js' %}"></script>
  <script src="{% static 'admin/funciones.js' %}"></script>
  <script src="{% static 'admin/sesiones.js' %}"></script>
  <script src="{% static 'admin/funciones_grupos.js' %}"></script>
  -->
{% endblock extra_javascript %}
