{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Recuperar Contraseña</title>
  </head>
  <body>
    <div style="width: 929px;height: 1024px;background-color: #fff;position: absolute;">
      <div style="
        width: 590px;
        height: 715px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
        margin-left: 20px;
        margin-top: 20px;
        margin-left: 170px;
        margin-top: 65px;">
        <div style="
          width: 590px;
          height: 111px;
          object-fit: contain;
          background: #5b539e;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;">
          <img src="https://imgur.com/FPoecg4.png" class="bbllogo2" alt="" style="
            width: 150px;
            height: 81px;
            margin-left: 220px;
            margin-top: 15px;
            float: left;">
        </div>
        <div class="cuerpoPlantilla">
          <div class="Recuperar-contrasea" style="width: 349px;
          height: 32px;
          font-size: 32px;
          text-align: left;
          color: #302f60;
          margin-left: 52px;
          margin-top: 158px;">
            <p>Recuperar contraseña</p>
          </div>
          <div class="Has-solicitado-una-n" style="width: 449px;
          height: 130px;
          font-size: 16px;
          line-height: 1.63;
          letter-spacing: 0.4px;
          text-align: left;
          color: #3d4548;
          margin-top: 46px;
          margin-left: 51px;">
            <p>Has solicitado una nueva contraseña</p>
            <br>
            <p>Da click en el botón y genera una nueva para esta<br> cuenta...</p>
          </div>
          <button type="button" name="button" class="btnReestablecer" style="width: 201px;
          height: 44px;
          border-radius: 100px;
          background-color: #302f60;
          margin-top: 84px;
          margin-left: 194px;
          outline: none;
          border: none;">
            <p class="REESTABLECER" style="width: 172px;
            height: 16px;
            font-size: 16px;
            text-align: center;
            color: #fff;
            margin-left: 14px;
            margin-top: 10px;">REESTABLECER</p>
          </button>
          <p class="Gracias-por-registra" style="width: 333px;
          height: 20px;
          font-size: 16px;
          letter-spacing: 0.5px;
          text-align: center;
          color: #3d4548;
          margin-left: 129px;
          margin-top: 25px;">Gracias por registrarte a BangBang Lab</p>
        </div>
      </div>
      <p class="Copyrigth-2017-Ban" style="width: 424px;
      height: 16px;
      font-size: 13px;
      text-align: right;
      color: #8f9ca1;
      margin-left: 236px;
      margin-top: 47px;">Copyrigth © 2017 BangBang Lab. Todos los derechos reservados.</p>
    </div>
  </body>
</html>
{% endblock content %}
