{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<div>


  <img src="{%static '/views/img/login/group@2x.jpg'%}" class="img-fluid fondo" alt="" >

  <div class="formularioOlviContr">
    <form class="form-group" action="sendMail" method="">
      <div class="olvidaste-cont">¿Olvidaste tu contraseña?</div>

      <img src="{%static '/views/img/login/bangbanglab-bomba.png' %}" class="bblLogo" alt="">

      <div class="correo-electronico">CORREO ELECTRÓNICO</div>

      <input type="text" class="txt-correo form-control" placeholder="correo@electronico.com">

      <a href="{%url 'login_view' %}" class="volver">< Volver</a>

      <input type="submit" class="boton-enviar form-control" value="ENVIAR">
    </form>

  </div>

</div>
{% endblock content %}
