{% block content %}
<title>Registro</title>
<h1>Registro de Usuario</h1>
 <form action="/registro/normal" method="POST">
    {% csrf_token %}
    {{form1}}
    {{form2}}
    <input type="submit" value="Registrarse">
 </form>
{{mensaje}}
 <p>¿Ya tienes cuenta?</p>
 <button onclick="window.location.href='/login'">Inicia Sesión</button>
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}