{% load staticfiles %}
{% load static %}
{% block content %}
<title>Inicio Alumno</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">Grupos</a>
<a href="/tareas/getTareasByAlumno">Tareas</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<a href="grupos/unirseGrupo">Unirme a Grupo</a>
<h1>________________________</h1>
{% for info in datos %}
  <p>Status: {{info.1}}</p>
  <p>Nombre de Tarea: {{info.2}}</p>
  <p>Nombre Grupo: {{info.3}}</p>
  <a href="/tareas/detalles_tarea/{{info.0}}/{{info.4}}/{{info.1}}">Ver Tarea</a>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}
<!--
  <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'admin/funciones_alumno.js' %}"></script>
  <script src="{% static 'admin/funciones.js' %}"></script>
  <script src="{% static 'admin/funciones_grupos.js' %}"></script>
  <script type="text/javascript">
     window.onload = cargarDatosUsuario('{{datos.expediente}}', '{{user.username}}', '{{user.first_name}}', '{{user.last_name}}');
     window.onload = cargar_alumno({{datos.user_id}});
  </script>
-->
{% endblock extra_javascript %}
