{% extends 'views/index.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<title onload="cargarGruposMaestro(); generalGrupojs();">Inicio Maestro</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">General</a>
<a href="">Crear Grupo</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<h1>________________________</h1>
<a href="/grupos/get_alumnos_grupo/{{id_grupo}}">Ver Miembros</a>
<a href="/tareas/get_tareas_grupo/{{id_grupo}}">Ver Tareas</a>
<a href="/grupos/get_datos_grupoM/{{id_grupo}}">Ajustes Grupos</a>
<h1>_________________________</h1>
<a href="/tareas/insertTarea/{{id_grupo}}">Crear Tarea</a>
{% for info in datos %}
<p>Nombre Tarea: {{info.1}}</p>
<p>Fecha entrega: {{info.2}}</p>
<p>Tareas Recibidas: {{info.3}}</p>
<p>Taeas sin Calificar: {{info.4}}</p>
<p>Status: {{info.5}}</p>
<a href="/tareas/modificarTarea/{{id_grupo}}/{{info.0}}">Modificar Tarea</a>
<a href="/tareas/deleteTarea/{{id_grupo}}/{{info.0}}">Eliminar Tarea</a>
<a href="/tareas/get_detalles_entrega/{{id_grupo}}/{{info.0}}">Calificar Tarea</a>
{% endfor %}
{% endblock content %}
{% block extra_javascript %}
<!--
  <script src="{% static 'admin/jquery-3.2.1.js' %}"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="{% static 'admin/funciones.js' %}"></script>
  <script src="{% static 'admin/sesiones.js' %}"></script>
  <script src="{% static 'admin/funciones_grupos.js' %}"></script>
  <script src="{% static 'admin/highcharts.js' %}"></script>
  <script src="{% static 'admin/ckeditor/ckeditor.js' %}"></script>
-->
{% endblock extra_javascript %}
