{% load staticfiles %}
{% load static %}
{% block content %}
<title>Inicio Alumno</title>
<img src="{% static 'views/img/logo.png' %}" alt="" style="height: 50px;">
<h1 onclick="window.location.href='/'">BangBangLab</h1>
{% with "perfil/"|add:user.get_username|add:"/user.jpg" as profile %}
<img src="{% static profile %}" alt="" style="height: 50px;">
{% endwith %}
<br>
<a href="/perfil">Configuración</a>
<br>
<a href="/cerrar_sesion">Cerrar Sesión</a>
<br>
<h1>________________________</h1>
<br>
<a href="/">Grupos</a>
<a href="/tareas/getTareasByAlumno">Tareas</a>
<a href="/evaluaciones/grupo">Evaluaciones</a>
<a href="grupos/unirseGrupo">Unirme a Grupo</a>
<h1>________________________</h1>
<form action="/grupos/detalles_grupo_cve" method="POST">
    {% csrf_token %}
    {{form}}
  <input type="submit" value="Buscar Clave">
 </form>
 {{mensajeError}}
 {% for info in datos %}
  <a href="/grupos/agregar_participante_grupo/{{info.0}}">Unirse al Grupo</a>
  <p>Nombre del Grupo: {{info.1}}</p>
  <p>Maestro: {{info.2}},{{info.3}}</p>
{% endfor %}
{{mensajeUnirse}}
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}
