 {% load staticfiles %}
 <html>
 <head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP !-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <script src="{% static "lib/bower_components/angular/angular.min.js"%}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/ace.js" %}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/ext-language_tools.js"%}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/snippets/django.js"%}"></script>
    <script src="{% static "lib/bower_components/angular-ui-ace/ui-ace.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/contIDE.js" %}"></script>
    <script src="{% static "js/directives.js" %}"></script>
    <script src="{% static "js/services.js" %}"></script>
    <script src="{% static "lib/sweetalert.min.js"%}"></script>
    <link rel="shortcut icon" href="{% static "views/img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "views/img/favicon.ico" %}" type="image/x-icon">

       <!--Estilos-->
      <link rel="stylesheet" href="{% static "views/css/estilos.css" %}">
      <link rel="stylesheet" type="text/css" href="{% static "lib/sweetalert.css" %}">
      <link rel="stylesheet" type="text/css"  href="{% static "views/css/IDE.css" %}">
      <link rel="stylesheet" type="text/css"  href="{% static "views/css/login.css" %}">
      <link rel="stylesheet" type="text/css"  href="{% static "views/css/recuperacion.css" %}">
      <link rel="stylesheet" type="text/css"  href="{% static "views/css/bienvenido.css" %}">
      <link rel="stylesheet" type="text/css"  href="{% static "views/css/recuperarContrasea.css" %}">
      <link rel="stylesheet" type="text/css"  href="{% static "views/css/nuevaContrasea.css" %}">
      <link rel="stylesheet" type="text/css"  href="{% static "views/css/avisoNuevaContrasea.css" %}">

 </head>
 <body>
        {% block content %}{% endblock content %}
        {% block extra_javascript %}{% endblock extra_javascript %}
 </body>
<script type="text/javascript">
var static_url = '{% static "" %}';
</script>
 </html>
